section{
width:90%;
margin:10px auto;
}
.mat-form-field.filter-form {
width: 100%;
}
.mat-form-field.objet-form {
width: 70px;

text-align: right;
}
table{
width:100%;
}
.mat-fab{
position: fixed;
bottom: 20px;
right: 20px;
}
.mat-form-field-wrapper{
padding-bottom:0!important;
}
.mat-form-field-appearance-outline{
padding:0;
}